table {
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    color: #697D92;
    display: grid;
    justify-content: center;
  }
  
  .header {
    text-transform: uppercase;
    text-align: center;
    padding: 5px 15px 5px 15px;
  }
  
  .name {
    text-transform: capitalize;
    text-align: left;
    padding: 15px;
  }
  
  .phone {
    text-align: center;
  }
  
  #long, .email, .debt {
    padding: 15px;
  }